<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.usrweb.dao.AchievementDao">

	<resultMap id="BaseResultMap" type="com.example.usrweb.entity.Achievement">
		<id column="id" property="id" />
		<id column="achievement_flag" property="achievementFlag" />
		<id column="name" property="name" />
		<id column="type" property="type" />
		<id column="year" property="year" />
	</resultMap>
	<sql id="Base_Column_List">
		id, achievement_flag, name, type, year
	</sql>
	
</mapper>