<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.usrweb.dao.CourseDao">

	<resultMap id="BaseResultMap" type="com.example.usrweb.entity.Course">
		<id column="id" property="id" />
		<id column="course_id" property="courseId" />
		<id column="name" property="name" />
		<id column="type" property="type" />
		<id column="student_type" property="studentType" />
		<id column="course_time" property="courseTime" />
		<id column="comment" property="comment" />
	</resultMap>
	<sql id="Base_Column_List">
		id, course_id, name, type, student_type, course_time, comment
	</sql>
	
</mapper>