<!doctype html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>高校科研实验室</title>

    <!-- === CSS === -->
    <link rel="stylesheet" href="bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900">
    <link rel="stylesheet" href="css/index.css">
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.10.1/theme-chalk/index.css" >-->

</head>

<body>
<div id="vue">
    <div class="container" style="min-width: 1000px">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-2 pt-1">
                    <a class="text-muted" href="#">LOGO</a>
                </div>
                <div class="col-8 text-center">
                    <a class="blog-header-logo text-dark" style="font-family: ‘微软雅黑’; line-height: normal">高校科研实验室</a>
                    <br>
                    <a class="blog-header-logo text-dark" style="font-family: 'Lato', sans-serif; font-size: 1.125rem; line-height: normal">University Research Laboratory</a>
                </div>
                <div class="col-2 d-flex justify-content-end align-items-center">
                    <!--<a class="text-muted" href="#">-->
                        <!--<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" -->
                             <!--stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" -->
                             <!--stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false">-->
                            <!--<title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/>-->
                        <!--</svg>-->
                    <!--</a>-->
                    <el-button plain @click="signInButton" v-if="!isSignIn">登录</el-button>
                    <el-button plain @click="signOutButton" v-if="isSignIn">登出</el-button>

                    <el-dialog title="登 录" :visible.sync="dialogFormVisible" width="30%"
                               center :destroy-on-close=true :close-on-click-modal=false @close="cancelSignIn" @closed="cancelSignIn">
                        <el-form :model="form">
                            <el-form-item label="用户名：" :label-width="formLabelWidth">
                                <el-input v-model="form.username" autocomplete="off"></el-input>
                            </el-form-item>
                            <el-form-item label="密码：" :label-width="formLabelWidth">
                                <el-input v-model="form.password" autocomplete="off" show-password></el-input>
                            </el-form-item>
                        </el-form>
                        <p style="text-align: center
">用户名：admin 密码：admin</p>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="cancelSignIn">取 消</el-button>
                            <el-button type="primary" @click="signIn">确 定</el-button>
                        </div>
                    </el-dialog>
                </div>
            </div>
        </header>

        <!--<div class="nav-scroller py-1 mb-2">-->
            <!--<nav class="nav d-flex justify-content-between">-->
                <!--<a class="p-2 text-muted text-hover" href="#" v-on:click="turnPage('views/homepage.html')">首页</a>-->
                <!--<a class="p-2 text-muted" href="#" v-on:click="turnPage('views/about_us.html')">关于我们</a>-->
                <!--<a class="p-2 text-muted" href="#" v-on:click="turnPage('views/dynamic_message.html')">动态消息</a>-->
                <!--<a class="p-2 text-muted" href="#" v-on:click="turnPage('views/research_results.html')">研究成果</a>-->
                <!--<a class="p-2 text-muted" href="#" v-on:click="turnPage('views/teaching_results.html')">教学科研</a>-->
                <!--<a class="p-2 text-muted" href="#" v-on:click="turnPage('views/admissions_info.html')">招生信息</a>-->
                <!--<a class="p-2 text-muted" href="#" v-on:click="turnPage('views/global_cooperation.html')">国际合作</a>-->
                <!--<a class="p-2 text-muted" href="#" v-on:click="turnPage('views/internal_system.html')">内部系统</a>-->

            <!--</nav>-->
        <!--</div>-->
        <div id="nav">
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                <el-menu-item index="views/homepage.html">首页</el-menu-item>
                <el-submenu index="views/about_us.html">
                    <template slot="title" >关于我们</template>
                    <el-menu-item index="views/laboratory_info.html">实验室简介</el-menu-item>
                    <el-menu-item index="views/teacher_info.html">师资队伍</el-menu-item>
                    <el-menu-item index="views/student_info.html">学生信息</el-menu-item>
                    <el-menu-item index="views/contact_us.html">联系我们</el-menu-item>

                    <!--<el-submenu index="2-4">-->
                        <!--<template slot="title">选项4</template>-->
                        <!--<el-menu-item index="2-4-1">选项1</el-menu-item>-->
                        <!--<el-menu-item index="2-4-2">选项2</el-menu-item>-->
                        <!--<el-menu-item index="2-4-3">选项3</el-menu-item>-->
                    <!--</el-submenu>-->
                </el-submenu>
                <el-submenu index="views/dynamic_message.html" >
                    <template slot="title">动态消息</template>
                    <el-menu-item index="views/news.html">新闻动态</el-menu-item>
                    <el-menu-item index="views/notice.html">通知公告</el-menu-item>
                    <el-menu-item index="views/academic_activities.html">学术活动</el-menu-item>
                </el-submenu>
                <el-submenu index="views/teaching_research.html" >
                    <template slot="title">教学科研</template>
                    <el-menu-item index="views/teaching.html">教学工作</el-menu-item>
                    <el-menu-item index="views/research.html">科研工作</el-menu-item>
                </el-submenu>
                <el-submenu index="views/teaching_research_results.html" >
                    <template slot="title">研究成果</template>
                    <el-menu-item index="views/teaching_results.html">教学成果</el-menu-item>
                    <el-menu-item index="views/research_results.html">科研成果</el-menu-item>
                </el-submenu>
                <el-submenu index="views/admissions_info.html" >
                    <template slot="title">招生信息</template>
                    <el-menu-item index="views/undergraduate_admissions.html">本科生招生</el-menu-item>
                    <el-menu-item index="views/master_admissions.html">硕士生招生</el-menu-item>
                    <el-menu-item index="views/phd_admissions.html">博士生招生</el-menu-item>
                    <el-menu-item index="views/international_admissions.html">留学生招生</el-menu-item>
                </el-submenu>
                <el-menu-item index="views/global_cooperation.html">国际合作</el-menu-item>
                <el-menu-item index="views/internal_system.html">内部系统</el-menu-item>

            </el-menu>
        </div>

        <iframe id="main-frame" name="main-frame" v-bind:src="src"
                style="width: calc(100%);" frameborder="no" scrolling="no">
        </iframe>




        <footer class="blog-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <p>友情链接:</p>
                        <p>
                            <a href="http://www.bit.edu.cn/m/index.htm" class="col-3">北京理工大学</a>
                            <a href="http://cs.bit.edu.cn/" class="col-3">计算机学院</a>
                            <a href="http://ss.bit.edu.cn/" class="col-3">软件学院</a>
                            <a href="http://grd.bit.edu.cn/" class="col-3">研究生院</a>
                        </p>
                    </div>
                    <div class="col-6" >
                        <p>All rights Reserved | 2019 &copy; 高校科研实验室</p>
                        <p>京ICP备XXXXXXXX号　京公网安备XXXXXXXXXXXX号</p>
                        <p>
                            <a href="#">返回顶部</a>
                        </p>

                    </div>
                </div>


            </div>

        </footer>

    </div>
</div>
</body>

<!-- === JS === -->
<script src="js/jquery-3.2.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="bootstrap-4.3.1/js/bootstrap.min.js"></script>
<!--引入vue-->
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<!-- 引入element-ui组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--jquery-->
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--<script src="https://cdn.bootcss.com/element-ui/2.10.1/locale/zh-CN.min.js"></script>-->

<script>
    function setIframeHeight(iframe) {
        if (iframe) {
            var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
            if (iframeWin.document.body) {
                iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
            }
        }
    };

    window.onload = function () {
        setIframeHeight(document.getElementById('main-frame'));
    };
</script>

<script>
    var indexVue = new Vue({
        el: "#vue",
        data: {
            isSignIn: 0,
            src: "views/homepage.html",
            activeIndex: "views/homepage.html",
            currentPage: "views/homepage.html",
            dialogFormVisible: false,
            form: {
                username: "",
                password: ""
            },
            formLabelWidth: '80px',
            signInMethod: 0,
            user: {
                id: "",
                userFlag: ""
            }
        },
        methods: {
            turnPage(page) {
                // const loading = this.$loading({
                //     lock: true,
                //     text: 'Loading',
                //     spinner: 'el-icon-loading',
                //     background: 'rgba(0, 0, 0, 0.7)',
                //     target: document.querySelector('.div1')
                // });
                // setTimeout(() => {
                //     loading.close();
                // }, 3000);
                console.log("index turnPage");
                this.src = page;

            },
            handleSelect(key, keyPath) {
                if (key == "views/internal_system.html")
                    if (this.isSignIn == 1)
                        this.turnPage(key);
                    else
                        this.signInLink();
                else {
                    console.log(key, keyPath);
                    this.currentPage = key;
                    this.turnPage(keyPath[0]);
                    document.getElementById("main-frame").contentWindow.childVue.childSrc = key.slice(6);
                    document.getElementById("main-frame").contentWindow.childVue.childActiveIndex = key.slice(6);
                    this.activeIndex = key
                }
            },
            signIn() {
                if (this.form.username=="admin"&&this.form.password=="admin") {
                    this.$message({
                        message: '欢迎您：' + this.form.username,
                        type: 'success'
                    });
                    this.isSignIn = 1;
                    if (this.signInMethod == 2) {
                        this.turnPage("views/internal_system.html");
                        // this.activeIndex = "views/internal_system.html";
                    }
                }
                else {
                    this.$message.error('用户名或密码错误');
                    this.activeIndex = this.currentPage;

                }
                this.form.username="";
                this.form.password="";
                this.signInMethod = 0;
                this.dialogFormVisible = false;

            },
            signOutButton() {
                this.$message({
                    message: '已登出',
                    type: 'success'
                });
                this.isSignIn = 0;

            },
            signInButton() {
                this.signInMethod = 1;
                this.dialogFormVisible = true
            },
            signInLink() {
                this.signInMethod = 2;
                this.dialogFormVisible = true
            },
            cancelSignIn() {
                this.signInMethod = 0;
                this.form.username="";
                this.form.password="";
                this.activeIndex = this.currentPage;
                this.dialogFormVisible = false;

            }

        },
        mounted() {

        },
        updated() {
            indexVue.activeIndex = this.currentPage;

        }

    })
</script>
</html>

