<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-for="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>学术活动</title>


    <!-- === CSS === -->
    <link rel="stylesheet" href="../bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900">
    <link rel="stylesheet" href="../css/homepage.css">
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.10.1/theme-chalk/index.css" >-->

</head>
<body>


<div id="vue">
    <el-row :gutter="20" >
        <el-col :span="12" v-for="item in activities">
            <el-card shadow="hover" style="margin-bottom: 1rem">
                <a href="#" style="text-decoration: none" @click="turnPage(item.id)">{{item.title}}</a>
                <hr style="width: 30%;margin-left: 0;margin-bottom: 0; padding-left: 0">
                <time style="font-size: 0.8rem;color: #999;">{{item.time}}</time>
            </el-card>
        </el-col>
    </el-row>



</div>

</body>
<!-- === JS === -->
<script src="../js/jquery-3.2.1.slim.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../bootstrap-4.3.1/js/bootstrap.min.js"></script>
<!--引入vue-->
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<!-- 引入element-ui组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--jquery-->
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--<script src="https://cdn.bootcss.com/element-ui/2.10.1/locale/zh-CN.min.js"></script>-->
<script>
    var academicVue = new Vue({
        el: "#vue",
        data: {
            activities: [
                {
                    id:'1',
                    title:'1',
                    time:'1',
                    userId:'1'
                },
                {
                    id:'2',
                    title:'2',
                    time:'2',
                    userId:'2'
                },
                {
                    id:'3',
                    title:'3',
                    time:'3',
                    userId:'3'
                },
                {
                    id:'4',
                    title:'4',
                    time:'4',
                    userId:'4'
                }
            ]
        },
        methods: {
            turnPage(id) {
                window.parent.childVue.contentId = id;
                window.parent.childVue.childSrc="message_content.html";

            },
        },
        mounted(){
            window.parent.scrollTo(0, 0);
            $.ajax({
                url: "",
                type: "post",
                data: {
                    type: 2
                },
                success(res){
                    console.log(res);
                }
            })
        }

    })
</script>

</html>