<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>demo</title>

    <!-- === CSS === -->
    <link rel="stylesheet" href="../bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.10.1/theme-chalk/index.css" >-->
<body>
    <div id="vue">
        {{password}}

        <el-button v-on:click="setText">按钮</el-button>
    </div>

</body>
</html>

<script src="../js/md5.js"></script>

<!-- === JS === -->
<script src="../js/jquery-3.2.1.slim.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../bootstrap-4.3.1/js/bootstrap.min.js"></script>
<!--引入vue-->
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<!-- 引入element-ui组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--jquery-->
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--<script src="https://cdn.bootcss.com/element-ui/2.10.1/locale/zh-CN.min.js"></script>-->

<script>
    var app = new Vue({
        el: "#vue",
        data: {
            password: "123456"
        },
        methods: {
            setText() {
                var s = hex_md5(this.password);
                console.log(s)


            }
        },
        mounted(){
        }

    })
</script>
</html>

