<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-for="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>首页</title>


    <!-- === CSS === -->
    <link rel="stylesheet" href="../bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900">
    <link rel="stylesheet" href="../css/homepage.css">
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.10.1/theme-chalk/index.css" >-->

</head>
<body>


<div id="vue">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img :src="news[0].imagePathList[0]">
                <div class="container">
                    <div class="carousel-caption ">
                        <a href="#" style="text-decoration: none; color: white"
                           v-on:click="turnIntoContent('views/dynamic_message.html',
                           'views/news.html', 'views/message_content1.html', news[0].id)">
                            <h1>{{news[0].title}}</h1>
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img :src="news[1].imagePathList[0]">
                <div class="container">
                    <div class="carousel-caption">
                        <a href="#" style="text-decoration: none; color: white"
                           v-on:click="turnIntoContent('views/dynamic_message.html',
                           'views/news.html', 'views/message_content1.html', news[1].id)">
                            <h1>{{news[1].title}}</h1>
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img :src="news[2].imagePathList[0]">
                <div class="container">
                    <div class="carousel-caption ">
                        <a href="#" style="text-decoration: none; color: white"
                           v-on:click="turnIntoContent('views/dynamic_message.html',
                           'views/news.html', 'views/message_content1.html', news[2].id)">
                            <h1>{{news[2].title}}</h1>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <hr>
    <div id="messageContent">
        <div id="dynamic_message" class="row">
            <div class="col-6">
                <p style="float: left; color: white; background-color: rgb(14,139,97); padding: 10px; border-radius: 5px">新闻动态</p>&nbsp
                <p style="padding-left: 5px"><a href="#" style="color:#6c757d!important" v-on:click="turnPage('views/news.html', 'views/dynamic_message.html')" class="text-decoration-none">&nbsp;更多<span style="font-size: 0.5rem">>></span></a></p>
                <div class="clearfix"></div>
                <ul v-for="news in newsList.slice(0, 8)" style="margin: 0; padding-left: 0">
                    <a href="#" v-on:click="turnIntoContent('views/dynamic_message.html', 'views/news.html', 'views/message_content1.html', news.id)"
                       style="font-size: 0.8rem; line-height: 0.5; color: rgb(90, 90, 90)" class="text-decoration-none">{{news.title}}</a>
                    <span class="time">{{news.time}}</span>

                </ul>


            </div>
            <div class="col-6" style="border-left: .05rem solid #e5e5e5">
                <p style="float: left; color: white; background-color: rgb(14,139,97); padding: 10px; border-radius: 5px">学术活动</p>&nbsp
                <p style="padding-left: 5px"><a href="#" style="color:#6c757d!important" v-on:click="turnPage('views/academic_activities.html', 'views/dynamic_message.html')" class="text-decoration-none">&nbsp;更多<span style="font-size: 0.5rem">>></span></a></p>
                <div class="clearfix"></div>
                <ul v-for="activities in activitiesList.slice(0, 8)" style="margin: 0; padding-left: 0">
                    <a href="#" v-on:click="turnIntoContent('views/dynamic_message.html', 'views/academic_activities.html', 'views/message_content1.html', activities.id)"
                       style="font-size: 0.8rem; line-height: 0.5; color: rgb(90, 90, 90)" class="text-decoration-none">{{activities.title}}</a>
                    <span class="time">{{activities.time}}</span>

                </ul>
            </div>

        </div>
        <hr>
        <div id="" class="row">
            <div class="col-8">
                <p style="float: left; color: white; background-color: rgb(14,139,97); padding: 10px; border-radius: 5px">通知动态</p>&nbsp
                <p style="padding-left: 5px"><a href="#" style="color:#6c757d!important" v-on:click="turnPage('views/notice.html', 'views/dynamic_message.html')" class="text-decoration-none">&nbsp;更多<span style="font-size: 0.5rem">>></span></a></p>
                <div class="clearfix"></div>
                <ul v-for="notice in noticeList.slice(0, 8)" style="margin: 0; padding-left: 0">
                    <a href="#" v-on:click="turnIntoContent('views/dynamic_message.html', 'views/notice.html', 'views/message_content1.html', notice.id)"
                       style="font-size: 0.8rem; line-height: 0.5; color: rgb(90, 90, 90)" class="text-decoration-none">{{notice.title}}</a>
                    <span  class="time">{{notice.time}}</span>

                </ul>
            </div>
            <div class="col-4" style="border-left: .05rem solid #e5e5e5">
                <p style="float: left; color: white; background-color: rgb(14,139,97); padding: 10px; border-radius: 5px">友情链接</p>
                <div class="clearfix"></div>
                <p class="link"><a href="http://www.bit.edu.cn/m/index.htm" class="text-decoration-none" target="_Blank" style="color:#6c757d!important">北京理工大学</a></p>
                <p class="link"><a href="http://cs.bit.edu.cn/" class="text-decoration-none" target="_Blank" style="color:#6c757d!important">计算机学院</a></p>
                <p class="link"><a href="http://ss.bit.edu.cn/" class="text-decoration-none" target="_Blank" style="color:#6c757d!important">软件学院</a></p>
                <p class="link"><a href="http://grd.bit.edu.cn/" class="text-decoration-none" target="_Blank" style="color:#6c757d!important">研究生院</a></p>

            </div>
        </div>


    </div>

</div>
</body>
<!-- === JS === -->
<script src="../js/jquery-3.2.1.slim.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../bootstrap-4.3.1/js/bootstrap.min.js"></script>
<!--引入vue-->
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<!-- 引入element-ui组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--jquery-->
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--<script src="https://cdn.bootcss.com/element-ui/2.10.1/locale/zh-CN.min.js"></script>-->
<script>
    var homepageVue = new Vue({
        el: "#vue",
        data: {
            src: "homepage.html",
            newsList: [],
            noticeList: [],
            activitiesList: [],
            news: [
                {
                    content: "6月25日，北京理工大学2019年毕业典礼暨学位授予仪式在中关村校区东操场和体育馆举行。2019年毕业的3279名本科生、3227名硕士研究生和341名博士研究生参加了毕业典礼并接受学位授予。北京理工大学校长、中国工程院院士张军在毕业典礼上寄语毕业生。",
                    id: 64,
                    imagePathList: ["../images/news/20190808074855137062.jpg"],
                    time: "1958-02-12 15:00:00",
                    title: "【北理毕业季】校长张军院士：在奋斗时代中远航\n",
                    type: 0,
                    userId: "6120162000",
                    userName: "王二哈"
                },
                {
                    content: "学校党委书记赵长禄、校长张军、副校长王晓锋、副校长李和章、党委副书记包丽颖和校长助理汪本聪等校领导来到迎新现场，与前来报到的新生及家长热情交流，亲切慰问迎新志愿者和工作人员，并走访学生宿舍，了解新生情况。此外，校领导还带队还检查了睿信书院、明德书院办公空间和求是书院社区空间的建设情况。",
                    id: 63,
                    imagePathList: ["../images/news/20190903091656743670.jpg"],
                    time: "2019-09-11 22:12:47",
                    title: "北京理工大学喜迎2019级本科新生入校\n",
                    type: 0,
                    userId: "1120162001",
                    userName: "吕小布"
                },
                {
                    content: "一图读懂 | 报考北京理工大学十大理由！选择北京理工，共筑强国梦想！ 一图读懂 | 报考北京理工大学十大理由！选择北京理工，共筑强国梦想！ 一图读懂 | 报考北京理工大学十大理由！选择北京理工，共筑强国梦想！",
                    id: 61,
                    imagePathList:["../images/news/20190808074710375903.jpg"],
                    time: "1985-01-12 12:00:00",
                    title: "一图读懂 | 报考北京理工大学十大理由",
                    type: 0,
                    userId: "6120162000",
                    userName: "王二哈"
                }
            ]
        },
        methods: {
            turnIntoContent(grandpa, father, son, id) {
                console.log(grandpa, father, son, id);
                window.parent.indexVue.messageId = id;
                window.parent.indexVue.currentPage = son;
                window.parent.indexVue.turnPage(grandpa);
                window.parent.document.getElementById("main-frame").contentWindow.childVue.childSrc = father.slice(6);
                window.parent.document.getElementById("main-frame").contentWindow.childVue.childActiveIndex = father.slice(6);
                window.parent.indexVue.activeIndex = key;
            },
            turnPage(key, keyPath) {
                console.log(key, keyPath);
                window.parent.indexVue.currentPage = key;
                window.parent.indexVue.turnPage(keyPath);
                window.parent.document.getElementById("main-frame").contentWindow.childVue.childSrc = key.slice(6);
                window.parent.document.getElementById("main-frame").contentWindow.childVue.childActiveIndex = key.slice(6);
                window.parent.indexVue.activeIndex = key;
            }
        },
        mounted(){
            window.scrollTo(0, 0);
            $.ajax({
                url: "/contribution/getContributionInfo",
                type: "get",
                data: {
                    type: 0
                },
                success(res){
                    console.log(res.datas);
                    homepageVue.newsList = res.datas;
                    for (var i=0; i<homepageVue.newsList.length; i++) {
                        homepageVue.newsList[i].time = homepageVue.newsList[i].time.split(' ')[0];
                    }
                }
            });
            $.ajax({
                url: "/contribution/getContributionInfo",
                type: "get",
                data: {
                    type: 1
                },
                success(res){
                    console.log(res.datas);
                    homepageVue.noticeList = res.datas;
                    for (var i=0; i<homepageVue.noticeList.length; i++) {
                        homepageVue.noticeList[i].time = homepageVue.noticeList[i].time.split(' ')[0];
                    }
                }
            });
            $.ajax({
                url: "/contribution/getContributionInfo",
                type: "get",
                data: {
                    type: 2
                },
                success(res){
                    console.log(res.datas);
                    homepageVue.activitiesList = res.datas;
                    for (var i=0; i<homepageVue.activitiesList.length; i++) {
                        homepageVue.activitiesList[i].time = homepageVue.activitiesList[i].time.split(' ')[0];
                    }
                }
            });

        }

    })
</script>

</html>