<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>注册-高校科研实验室账号</title>

    <!-- === CSS === -->
    <link rel="stylesheet" href="../bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900">
    <link rel="stylesheet" href="../css/sign_up.css">
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.10.1/theme-chalk/index.css" >-->

</head>

<body>
<div id="vue">
    <div class="py-5 text-center">
        <h2>注册新账号</h2>
        <p class="lead">您将注册高校科研实验室账号，您可以通过上传EXCEL或CSV文件实现批量导入注册用户的基本信息数据，或者输入并提交以下信息，以完成注册。</p>
    </div>
    <div>
        <h3>一、批量用户注册</h3>
        <!--<el-upload-->
                <!--class="upload-demo"-->
                <!--action="../../excel/user"-->
                <!--:on-preview="handlePreview"-->
                <!--:on-remove="handleRemove"-->
                <!--:before-remove="beforeRemove"-->
                <!--multiple-->
                <!--:limit="3"-->
                <!--:on-exceed="handleExceed"-->
                <!--:file-list="fileList">-->
            <!--<el-button size="small" type="primary">点击上传</el-button>-->
            <!--<div slot="tip" class="el-upload__tip">请您上传excel/csv文件，且不超过10mb</div>-->
        <!--</el-upload>-->
        <form id="img_form_excel" action="/student/importStudent" method="post" enctype="multipart/form-data">
            <div id="select_btn_excel" class="btn btn-primary main-btn bg-main" @click="select_excel">选 择 文 件</div>
            <input type="file"  id="select_file_excel" name="data" style="display: none" multiple>
            <input id="submit_btn_excel" class="btn btn-primary main-btn bg-main" value="提 交" @click="upload_excel">
        </form>
        <h3>二、单个用户注册</h3>
        <br>
        <el-radio v-model="user_type" label='1'>教师</el-radio>
        <el-radio v-model="user_type" label='0'>学生</el-radio>
        <br/><br>
        <div v-if="user_type=='1'">
            <el-form :model="T_ruleForm" ref="T_ruleForm" label-width="100px" class="demo-T_ruleForm">
                <el-form-item label="工号" prop="teacherId">
                    <el-input placeholder="请输入10位数字" v-model="T_ruleForm.teacherId"></el-input>
                </el-form-item>
                <el-form-item label="中文姓名" prop="chineseName">
                    <el-input placeholder="请输入中文姓名" v-model="T_ruleForm.chineseName"></el-input>
                </el-form-item>
                <el-form-item label="英文名" prop="englishFirstname">
                    <el-input placeholder="请输入英文名,中国老师填汉语拼音" v-model="T_ruleForm.englishFirstname"></el-input>
                </el-form-item>
                <el-form-item label="英文姓" prop="englishLastname">
                    <el-input placeholder="请输入英文姓,中国老师填汉语拼音" v-model="T_ruleForm.englishLastname"></el-input>
                </el-form-item>
                <el-form-item label="性别" prop="sex">
                    <el-radio-group v-model="T_ruleForm.sex">
                        <el-radio label="1">男</el-radio>
                        <el-radio label="0">女</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="教师类别" prop="type">
                    <el-radio-group v-model="T_ruleForm.type">
                        <el-radio label="1" >专职</el-radio>
                        <el-radio label="0" >兼职</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="国籍" prop="nationality">
                    <el-input placeholder="请输入国籍" v-model="T_ruleForm.nationality"></el-input>
                </el-form-item>
                <el-form-item label="单位" prop="departmentItem">
                    <el-select v-model="T_ruleForm.departmentItem" placeholder="请选择您所在单位">
                        <el-option label="宇航学院" value=1></el-option>
                        <el-option label="机电学院" value=2></el-option>
                        <el-option label="机械与车辆学院" value=3></el-option>
                        <el-option label="光电学院" value=4></el-option>
                        <el-option label="信息与电子学院" value=5></el-option>
                        <el-option label="自动化学院" value=6></el-option>
                        <el-option label="计算机学院" value=7></el-option>
                        <el-option label="材料学院" value=8></el-option>
                        <el-option label="化学与化工学院" value=9></el-option>
                        <el-option label="生命学院" value=10></el-option>
                        <el-option label="数学与统计学院" value=11></el-option>
                        <el-option label="物理学院" value=12></el-option>
                        <el-option label="管理与经济学院" value=13></el-option>
                        <el-option label="人文与社会科学学院" value=14></el-option>
                        <el-option label="马克思主义学院" value=15></el-option>
                        <el-option label="法学院" value=16></el-option>
                        <el-option label="外国语学院" value=17></el-option>
                        <el-option label="设计与艺术学院" value=18></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="老师类型" prop="userFlag">
                    <el-radio-group v-model="T_ruleForm.userFlag">
                        <el-radio label="4">资料管理员</el-radio>
                        <el-radio label="3">办公室主任</el-radio>
                        <el-radio label="2">老师</el-radio>
                        <el-radio label="0">管理员</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="职称" prop="title">
                    <el-select v-model="T_ruleForm.title" placeholder="请选择类别">
                        <el-option label="正高" value=4></el-option>
                        <el-option label="副高" value=3></el-option>
                        <el-option label="中级" value=2></el-option>
                        <el-option label="初级" value=1></el-option>
                        <el-option label="无" value=0></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="导师资格" prop="tutorQualification">
                    <el-radio-group v-model="T_ruleForm.tutorQualification">
                        <el-radio label="2">博导</el-radio>
                        <el-radio label="1">硕导</el-radio>
                        <el-radio label="0">无</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="职务" prop="job">
                    <el-input placeholder="请输入您的职务" v-model="T_ruleForm.job"></el-input>
                </el-form-item>
                <el-form-item label="出生日期" prop="birthday">
                    <el-date-picker
                            v-model="T_ruleForm.birthday"
                            type="date"
                            placeholder="选择日期"
                            format="yyyy 年 MM 月 dd 日"
                            value-format="yyyy-MM-dd">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="电子邮箱" prop="email">
                    <el-input v-model="T_ruleForm.email"></el-input>
                </el-form-item>
                <el-form-item label="移动电话" prop="mobilePhone">
                    <el-input v-model="T_ruleForm.mobilePhone"></el-input>
                </el-form-item>
                <el-form-item label="办公电话" prop="officePhone">
                    <el-input v-model="T_ruleForm.officePhone"></el-input>
                </el-form-item>
                <el-form-item label="备注" prop="comment">
                    <el-input type="textarea" v-model="T_ruleForm.comment"></el-input>
                </el-form-item>
                <el-form-item label="头像" prop="imagePathListTeacher">
                    <form id="img_form_teacher" action="/teacher/uploadImage" method="post" enctype="multipart/form-data">
                        <div id="select_btn_teacher" class="btn btn-primary main-btn bg-main" @click="select_img_teacher">选择图片</div>
                        <input type="file"  id="select_file_teacher" name="data" style="display: none" multiple>
                        <input id="submit_btn_teacher" class="btn btn-primary " value="上传图片" @click="upload_img_teacher">
                    </form>
                    {{T_ruleForm.imagePath}}

                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitFormTeacher('T_ruleForm')">立即注册</el-button>
                    <el-button @click="resetForm('T_ruleForm')">重置</el-button>
                </el-form-item>
            </el-form>
        </div>
        <div v-else>
            <el-form :model="S_ruleForm" ref="S_ruleForm" label-width="100px" class="demo-S_ruleForm">
                <el-form-item label="学号" prop="studentId">
                    <el-input placeholder="请输入10位数字" v-model="S_ruleForm.studentId"></el-input>
                </el-form-item>
                <el-form-item label="中文姓名" prop="chineseName">
                    <el-input placeholder="请输入中文姓名" v-model="S_ruleForm.chineseName"></el-input>
                </el-form-item>
                <el-form-item label="英文名" prop="englishFirstname">
                    <el-input placeholder="请输入英文名,中国学生填汉语拼音" v-model="S_ruleForm.englishFirstname"></el-input>
                </el-form-item>
                <el-form-item label="英文姓" prop="englishLastname">
                    <el-input placeholder="请输入英文姓,中国学生填汉语拼音" v-model="S_ruleForm.englishLastname"></el-input>
                </el-form-item>
                <el-form-item label="性别" prop="sex">
                    <el-radio-group v-model="S_ruleForm.sex">
                        <el-radio label="1">男</el-radio>
                        <el-radio label="0">女</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="学生类别" prop="type">
                    <el-radio-group v-model="S_ruleForm.type">
                        <el-radio label="0">本科</el-radio>
                        <el-radio label="1">学术硕士</el-radio>
                        <el-radio label="2">工程硕士</el-radio>
                        <el-radio label="3">学术博士</el-radio>
                        <el-radio label="4">工程博士</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="国籍" prop="nationality">
                    <el-input placeholder="请输入国籍" v-model="S_ruleForm.nationality"></el-input>
                </el-form-item>
                <el-form-item label="入学时间" prop="enrollmentTime">
                    <el-input placeholder="****年**月" v-model="S_ruleForm.enrollmentTime"></el-input>
                </el-form-item>
                <el-form-item label="毕业时间" prop="graduationTime">
                    <el-input placeholder="****年**月" v-model="S_ruleForm.graduationTime"></el-input>
                </el-form-item>
                <el-form-item label="导师" prop="tutor">
                    <el-input placeholder="导师姓名" v-model="S_ruleForm.tutor"></el-input>
                </el-form-item>
                <el-form-item label="副导师" prop="vice_tutor">
                    <el-input placeholder="副导师姓名" v-model="S_ruleForm.vice_tutor"></el-input>
                </el-form-item>
                <el-form-item label="出生日期" prop="birthday">
                    <el-date-picker
                            v-model="S_ruleForm.birthday"
                            type="date"
                            placeholder="选择日期"
                            format="yyyy 年 MM 月 dd 日"
                            value-format="yyyy-MM-dd">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="电子邮箱" prop="email">
                    <el-input v-model="S_ruleForm.email"></el-input>
                </el-form-item>
                <el-form-item label="移动电话" prop="mobilePhone">
                    <el-input v-model="S_ruleForm.mobilePhone"></el-input>
                </el-form-item>
                <el-form-item label="备注" prop="comment">
                    <el-input type="textarea" v-model="S_ruleForm.comment"></el-input>
                </el-form-item>
                <el-form-item label="学业状态" prop="graduationFlag">
                    <el-radio-group v-model="S_ruleForm.graduationFlag">
                        <el-radio label="0">未毕业</el-radio>
                        <el-radio label="1">已毕业</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="初次就业单位" prop="firstCompany">
                    <el-input v-model="S_ruleForm.firstCompany"></el-input>
                </el-form-item>
                <el-form-item label="头像" prop="imagePathListStudent">
                    <form id="img_form_student" action="/student/uploadImage" method="post" enctype="multipart/form-data">
                        <div id="select_btn_student" class="btn btn-primary main-btn bg-main" @click="select_img_student">选择图片</div>
                        <input type="file"  id="select_file_student" name="data" style="display: none" multiple>
                        <input id="submit_btn_student" class="btn btn-primary " value="上传图片" @click="upload_img_student">
                    </form>
                    {{S_ruleForm.imagePath}}

                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitFormStudent('S_ruleForm')">立即注册</el-button>
                    <el-button @click="resetForm('S_ruleForm')">重置</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</div>

</body>

<!-- === JS === -->
<script src="../js/jquery-3.2.1.slim.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../bootstrap-4.3.1/js/bootstrap.min.js"></script>
<!--引入vue-->
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<!-- 引入element-ui组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--jquery-->
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--<script src="https://cdn.bootcss.com/element-ui/2.10.1/locale/zh-CN.min.js"></script>-->

<script>
    var vue = new Vue({
        el: "#vue",
        data: {
            user_type: '1',
            fileList:[],
            dialogImageUrl: "",
            dialogVisible: false,
            img: [],
            results: [],
            imageUrl:[],
            T_ruleForm: {
                teacherId:'',
                chineseName: '',
                englishFirstname: '',
                englishLastname: '',
                sex: '',
                type: '',
                nationality: '',
                departmentItem: '',
                title: '',
                tutorQualification: '',
                job: '',
                birthday: '',
                email: '',
                mobilePhone: '',
                officePhone: '',
                comment: '',
                imagePath: '',
                userFlag: '',
                password: '',
                borrowTimes: '',
                credit:''
            },
            S_ruleForm: {
                studentId:'',
                chineseName: '',
                englishFirstname: '',
                englishLastname: '',
                sex: '',
                type: '',
                nationality: '',
                enrollmentTime: '',
                graduationTime:'',
                tutor:'',
                vice_tutor:'',
                birthday: '',
                email: '',
                mobilePhone: '',
                comment: '',
                imagePath: '',
                graduationFlag: '',
                firstCompany:'',
                password:'',
                borrowTimes:'',
                credit:''
            },
            T_rules: {
                teacherId: [
                    {required: false, trigger: 'blur'}
                ],
                chineseName: [
                    {required: true, message: '请输入中文名字', trigger: 'blur'},
                    {min: 2, max: 15, message: '长度在 2 到 15 个字符', trigger: 'blur'}
                ],
                englishFirstname: [
                    {required: true, message: '请输入英文名,中国老师填汉语拼音', trigger: 'blur'},
                    {min: 2, max: 15, message: '长度在 2 到 15 个字符', trigger: 'blur'}
                ],
                englishLastname: [
                    {required: true, message: '请输入英文姓,中国老师填汉语拼音', trigger: 'blur'},
                    {min: 2, max: 15, message: '长度在 2 到 15 个字符', trigger: 'blur'}
                ],
                sex: [
                    {required: true, message: '请选择性别', trigger: 'change'}
                ],
                type: [
                    {required: true, message: '请选择教师类别', trigger: 'change'}
                ],
                nationality: [
                    {required: true, message: '请输入国籍', trigger: 'blur'}
                ],
                unit: [
                    {required: true, message: '请选择单位', trigger: 'change'}
                ],
                title: [
                    {required: true, message: '请选择职称', trigger: 'change'}
                ],
                tutorQualification: [
                    {required: true, message: '请选择导师资格', trigger: 'change'}
                ],
                job: [
                    {required: true, message: '请输入职务', trigger: 'blur'}
                ],
                birthday: [
                    {type: 'date', required: true, message: '请选择出生日期', trigger: 'change'}
                ],
                email: [
                    {required: true, message: '请输入常用电子邮箱', trigger: 'blur'}
                ],
                mobilePhone: [
                    {required: true, message: '请输入移动电话号码', trigger: 'blur'}
                ],
                officePhone: [
                    {required: true, message: '请输入办公电话号码', trigger: 'blur'}
                ],
                comment: [
                    {required: false, message: '请输入备注', trigger: 'blur'}
                ],
            },
            S_rules: {
                studentId: [
                    {required: true, message:'请输入学号',trigger: 'blur'},
                    {min: 1, max: 10, message: '请输入10位数字的学号', trigger: 'blur'}
                ],
                chineseName: [
                    {required: true, message: '请输入中文名字', trigger: 'blur'},
                    {min: 2, max: 15, message: '长度在 2 到 15 个字符', trigger: 'blur'}
                ],
                englishFirstname: [
                    {required: true, message: '请输入英文名,中国学生填汉语拼音', trigger: 'blur'},
                    {min: 2, max: 15, message: '长度在 2 到 15 个字符', trigger: 'blur'}
                ],
                englishLastname: [
                    {required: true, message: '请输入英文姓,中国学生填汉语拼音', trigger: 'blur'},
                    {min: 2, max: 15, message: '长度在 2 到 15 个字符', trigger: 'blur'}
                ],
                sex: [
                    {required: true, message: '请选择性别', trigger: 'change'}
                ],
                type: [
                    {required: true, message: '请选择学生类别', trigger: 'change'}
                ],
                nationality: [
                    {required: true, message: '请输入国籍', trigger: 'blur'}
                ],
                enrollmentTime: [
                    {required: true, message: '请输入入学年份月份', trigger: 'blur'}
                ],
                graduationTime: [
                    {required: true, message: '请输入毕业年份月份', trigger: 'blur'}
                ],
                tutor: [
                    {required: true, message: '请输入导师姓名', trigger: 'blur'}
                ],
                vice_tutor: [
                    {required: false}
                ],
                birthday: [
                    {type: 'date', required: true, message: '请选择出生日期', trigger: 'change'}
                ],
                email: [
                    {required: true, message: '请输入常用电子邮箱', trigger: 'blur'}
                ],
                mobilePhone: [
                    {required: true, message: '请输入移动电话号码', trigger: 'blur'}
                ],
                comment: [
                    {required: false, message: '请输入备注', trigger: 'blur'}
                ],
                graduationFlag: [
                    {required: true, message: '请选择学业状态', trigger: 'change'}
                ],
                firstCompany: [
                    {required: false, message: '请输入初次就业单位', trigger: 'blur'}
                ]
            }
        },
        methods: {
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            handleExceed(files, fileList) {
                this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
            },
            beforeRemove(file, fileList) {
                return this.$confirm(`确定移除 ${ file.name }？`);
            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        alert('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            submitFormStudent(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        var date = new Date();
                        var myyear = date.getFullYear();
                        var mymonth = date.getMonth()+1;
                        var myweekday = date.getDate();
                        if(mymonth < 10){
                            mymonth = "0" + mymonth;
                        }
                        if(myweekday < 10){
                            myweekday = "0" + myweekday;
                        }
                        this.S_ruleForm.time = myyear + "-" + mymonth + "-" + myweekday + " " +
                            date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
                        console.log(JSON.stringify(this.S_ruleForm));
                        $.ajax({
                            url: "/student/insertStudent",
                            type: "post",
                            data: {
                                studentId: this.S_ruleForm.studentId,
                                level: parseInt(this.S_ruleForm.studentId[0]),
                                training: parseInt(this.S_ruleForm.studentId[1]),
                                chineseName: this.S_ruleForm.chineseName,
                                englishFirstname: this.S_ruleForm.englishFirstname,
                                englishLastname: this.S_ruleForm.englishLastname,
                                sex: parseInt(this.S_ruleForm.sex),
                                type: parseInt(this.S_ruleForm.type),
                                nationality: this.S_ruleForm.nationality,
                                enrollmentTime: this.S_ruleForm.enrollmentTime,
                                tutor: this.S_ruleForm.tutor,
                                viceTutor: this.S_ruleForm.viceTutor,
                                birthday: this.S_ruleForm.birthday,
                                email: this.S_ruleForm.email,
                                mobliePhone: this.S_ruleForm.mobliePhone,
                                comment: this.S_ruleForm.comment,
                                imagePath: this.S_ruleForm.imagePath,
                                time: this.S_ruleForm.time,
                                graduationFlag: parseInt(this.S_ruleForm.graduationFlag),
                                firstCompany: this.S_ruleForm.firstCompany,
                            },
                            success(res) {
                                console.log(res);
                                vue.$message({
                                    message: '学生创建成功',
                                    type: 'success'
                                });
                                window.parent.indexVue.activeIndex = "user_management.html";

                            }

                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            submitFormTeacher(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        var date = new Date();
                        var myyear = date.getFullYear();
                        var mymonth = date.getMonth()+1;
                        var myweekday = date.getDate();
                        if(mymonth < 10){
                            mymonth = "0" + mymonth;
                        }
                        if(myweekday < 10){
                            myweekday = "0" + myweekday;
                        }
                        this.T_ruleForm.time = myyear + "-" + mymonth + "-" + myweekday + " " +
                            date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
                        console.log(JSON.stringify(this.T_ruleForm));
                        $.ajax({
                            url: "/teacher/insertTeacher",
                            type: "post",
                            data: {
                                teacherId: this.T_ruleForm.teacherId,
                                chineseName: this.T_ruleForm.chineseName,
                                englishFirstname: this.T_ruleForm.englishFirstname,
                                englishLastname: this.T_ruleForm.englishLastname,
                                sex: parseInt(this.T_ruleForm.sex),
                                type: parseInt(this.T_ruleForm.type),
                                nationality: this.T_ruleForm.nationality,
                                title: parseInt(this.T_ruleForm.title),
                                tutorQualification: this.T_ruleForm.tutorQualification,
                                labJob: this.T_ruleForm.labJob,
                                instituteJob: this.T_ruleForm.instituteJob,
                                parttimeJob: this.T_ruleForm.parttimeJob,
                                birthday: this.T_ruleForm.birthday,
                                email: this.T_ruleForm.email,
                                mobliePhone: this.T_ruleForm.mobliePhone,
                                officePhone: this.T_ruleForm.officePhone,
                                comment: this.T_ruleForm.comment,
                                imagePath: this.T_ruleForm.imagePath,
                                userFlag: parseInt(this.T_ruleForm.userFlag)

                            },
                            success(res) {
                                console.log(res);
                                vue.$message({
                                    message: '老师创建成功',
                                    type: 'success'
                                });
                                window.parent.indexVue.activeIndex = "user_management.html";

                            }

                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            select_img_student() {
                console.log("select_img_student");

            },
            select_img_teacher() {
                console.log("select_img_teacher");

            },
            select_excel() {
                console.log("select_img_excel");

            },
            upload_img_student() {
                console.log("upload_img_student");

                var imgs = document.getElementById("img_form_student");
                console.log(imgs);

                var form = new FormData(document.getElementById("img_form_student"));
                // console.log(form.val())

                vue.img = form.getAll("data");
                console.log(vue.img);
                console.log(form.get("data").webkitRelativePath);
                var imageUrl = this.imageUrl;
                $.ajax({
                    //几个参数需要注意一下
                    cache: false,
                    processData:false,
                    contentType:false,
                    type: "POST",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    url: "/student/uploadImage" ,
                    // url: "http://10.108.17.116:9091/upload",
                    data: form,
                    success: function (res) {
                        console.log(res);
                        vue.$message({
                            message: '上传成功',
                            type: 'success'
                        });
                        vue.S_ruleForm.imagePath= vue.img[0].name;
                    },
                    error : function() {
                        vue.$message.error('提交失败');
                    }
                });

            },
            upload_img_teacher() {
                console.log("upload_img_teacher");

                var imgs = document.getElementById("img_form_teacher");
                console.log(imgs);

                var form = new FormData(document.getElementById("img_form_teacher"));
                // console.log(form.val())

                vue.img = form.getAll("data");
                console.log(vue.img);
                console.log(form.get("data").webkitRelativePath);
                var imageUrl = this.imageUrl;
                $.ajax({
                    //几个参数需要注意一下
                    cache: false,
                    processData:false,
                    contentType:false,
                    type: "POST",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    url: "/teacher/uploadImage" ,
                    // url: "http://10.108.17.116:9091/upload",
                    data: form,
                    success: function (res) {
                        console.log(res);
                        vue.$message({
                            message: '上传成功',
                            type: 'success'
                        });
                        vue.T_ruleForm.imagePath= vue.img[0].name;
                    },
                    error : function() {
                        vue.$message.error('提交失败');
                    }
                });

            },
            upload_excel() {
                console.log("upload_excel");

                var imgs = document.getElementById("img_form_excel");
                console.log(imgs);

                var form = new FormData(document.getElementById("img_form_excel"));
                // console.log(form.val())

                vue.excel = form.getAll("data");
                console.log(vue.excel);
                console.log(form.get("data").webkitRelativePath);
                var imageUrl = this.imageUrl;
                $.ajax({
                    //几个参数需要注意一下
                    cache: false,
                    processData:false,
                    contentType:false,
                    type: "POST",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    url: "/student/importStudent" ,
                    // url: "http://10.108.17.116:9091/upload",
                    data: form,
                    success: function (res) {
                        console.log(res);
                        vue.$message({
                            message: '上传成功',
                            type: 'success'
                        });
                    },
                    error : function() {
                        vue.$message.error('提交失败');
                    }
                });

            }
        },
        mounted(){
            $(document).ready(function(){
                $('#select_btn_excel').click(function(){
                    console.log(1);

                    $('#select_file_excel').click();
                    console.log(1);

                    $('#select_file_excel').on("change", function () {
                        console.log(1);

                        vue.imageUrl=[];
                        // var s = document.getElementById("select_file");
                        var files = $("#select_file_excel")[0].files;
                        console.log(files);
                        var n = 0;
                        for(file of files){
                            vue.imageUrl.push(null);
                            if(file.flag!==0){
                                file.flag=0;
                                if(window.FileReader){
                                    var reader = new FileReader();
                                    reader.n = n+0;
                                    n++;
                                    reader.readAsDataURL(file);
                                    reader.onloadend = function (e) {
                                        console.log(this.n);
                                        console.log(vue.imageUrl);
                                        vue.$set(vue.imageUrl,this.n,e.target.result);
                                        // vue.imageUrl[this.n].src=e.target.result;
                                        // vue.imageUrl = new Array(vue.imageUrl);
                                        // vue.imageUrl.push(e.target.result);
                                        console.log(vue.imageUrl);
                                        vue.$message({
                                            message: '提交成功: ' + file.name,
                                            type: 'success'
                                        });
                                    }
                                }else{
                                    vue.$message.error('无法读取文件');
                                }
                            }
                            console.log(file);
                            // console.log(file.files);

                        }
                        setTimeout(function () {

                        },0)
                        // s.a=22;
                        // console.log(s)
                        // console.log(document.getElementById("select_file"))
                        // console.log($('#select_file'))
                        // console.log(vue.path2 = $('#select_file')[0].baseURI)
                        // console.log(vue.path2)
                        // console.log(vue.filepath)

                    })
                });

            });
            $(document).ready(function(){
                $('#select_btn_student').click(function(){
                    console.log(1);

                    $('#select_file_student').click();
                    console.log(1);

                    $('#select_file_student').on("change", function () {
                        console.log(1);

                        vue.imageUrl=[];
                        // var s = document.getElementById("select_file");
                        var files = $("#select_file_student")[0].files;
                        console.log(files);
                        var n = 0;
                        for(file of files){
                            vue.imageUrl.push(null);
                            if(file.flag!==0){
                                file.flag=0;
                                if(window.FileReader){
                                    var reader = new FileReader();
                                    reader.n = n+0;
                                    n++;
                                    reader.readAsDataURL(file);
                                    reader.onloadend = function (e) {
                                        console.log(this.n);
                                        console.log(vue.imageUrl);
                                        vue.$set(vue.imageUrl,this.n,e.target.result);
                                        // vue.imageUrl[this.n].src=e.target.result;
                                        // vue.imageUrl = new Array(vue.imageUrl);
                                        // vue.imageUrl.push(e.target.result);
                                        console.log(vue.imageUrl);
                                        vue.$message({
                                            message: '提交成功: ' + file.name,
                                            type: 'success'
                                        });
                                    }
                                }else{
                                    vue.$message.error('无法读取文件');
                                }
                            }
                            console.log(file);
                            // console.log(file.files);

                        }
                        setTimeout(function () {

                        },0)
                        // s.a=22;
                        // console.log(s)
                        // console.log(document.getElementById("select_file"))
                        // console.log($('#select_file'))
                        // console.log(vue.path2 = $('#select_file')[0].baseURI)
                        // console.log(vue.path2)
                        // console.log(vue.filepath)

                    })
                });

            });
            $(document).ready(function(){
                $('#select_btn_teacher').click(function(){
                    console.log(1);

                    $('#select_file_teacher').click();
                    console.log(1);

                    $('#select_file_teacher').on("change", function () {
                        console.log(1);

                        vue.imageUrl=[];
                        // var s = document.getElementById("select_file");
                        var files = $("#select_file_teacher")[0].files;
                        console.log(files);
                        var n = 0;
                        for(file of files){
                            console.log(1);

                            vue.imageUrl.push(null);
                            if(file.flag!==0){
                                file.flag=0;
                                if(window.FileReader){
                                    var reader = new FileReader();
                                    reader.n = n+0;
                                    n++;
                                    reader.readAsDataURL(file);
                                    reader.onloadend = function (e) {
                                        console.log(this.n);
                                        console.log(vue.imageUrl);
                                        vue.$set(vue.imageUrl,this.n,e.target.result);
                                        // vue.imageUrl[this.n].src=e.target.result;
                                        // vue.imageUrl = new Array(vue.imageUrl);
                                        // vue.imageUrl.push(e.target.result);
                                        console.log(vue.imageUrl);
                                        vue.$message({
                                            message: '提交成功: ' + file.name,
                                            type: 'success'
                                        });
                                    }
                                }else{
                                    vue.$message.error('无法读取文件');
                                }
                            }
                            console.log(file);
                            // console.log(file.files);

                        }
                        setTimeout(function () {

                        },0)
                        // s.a=22;
                        // console.log(s)
                        // console.log(document.getElementById("select_file"))
                        // console.log($('#select_file'))
                        // console.log(vue.path2 = $('#select_file')[0].baseURI)
                        // console.log(vue.path2)
                        // console.log(vue.filepath)

                    })
                });

            });
        },


    })
</script>

</html>

