<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-for="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>学生信息</title>


    <!-- === CSS === -->
    <link rel="stylesheet" href="../bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900">
    <link rel="stylesheet" href="../css/homepage.css">
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.10.1/theme-chalk/index.css" >-->

</head>
<body>


<div id="vue">
    <el-radio v-model="isGraduated" label="0">在校生</el-radio>
    <el-radio v-model="isGraduated" label="1">毕业生</el-radio>
    <hr>
    <!--在校生-->
    <div v-if="isGraduated == '0'">
        <el-row :gutter="20" >

            <el-col :span="5" v-for="item in student">
                <el-popover
                        placement="top-start"
                        :title="item.name"
                        width="200"
                        trigger="click">
                    <p>学号：{{item.studentId}}</p>
                    <p>性别：{{item.sex}}</p>
                    <p>类别：{{item.type}}</p>
                    <p>国籍：{{item.nationality}}</p>
                    <p>导师：{{item.tutor}}</p>

                    <el-image
                            style="width: 150px; height: 150px"
                            :src="item.url" slot="reference"></el-image>
                    <p slot="reference" style="text-align: center">{{ item.name }}</p>
                </el-popover>



            </el-col>
        </el-row>
    </div>
    <!--毕业生-->
    <div v-if="isGraduated == '1'">
        <el-table
                :data="graduated"
                style="width: 100%">
            <el-table-column
                    prop="name"
                    label="姓名">
            </el-table-column>
            <el-table-column
                    prop="studentId"
                    label="学号">
            </el-table-column>
            <el-table-column
                    prop="sex"
                    label="性别">
                <template slot-scope="scope">
                    <el-tag>{{scope.row.sex}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column
                    prop="type"
                    label="学历">
                <template slot-scope="scope">
                    <el-tag type="success">{{scope.row.type}}</el-tag>
                </template>
            </el-table-column>

            <el-table-column
                    prop="enrollmentTime"
                    label="入学时间">
            </el-table-column>
            <el-table-column
                    prop="graduationTime"
                    label="毕业时间">
            </el-table-column>
            <el-table-column
                    prop="firstCompany"
                    label="初次就业单位">
            </el-table-column>
        </el-table>
    </div>


</div>

</body>
<!-- === JS === -->
<script src="../js/jquery-3.2.1.slim.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../bootstrap-4.3.1/js/bootstrap.min.js"></script>
<!--引入vue-->
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<!-- 引入element-ui组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--jquery-->
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--<script src="https://cdn.bootcss.com/element-ui/2.10.1/locale/zh-CN.min.js"></script>-->
<script>
    var studentInfoVue = new Vue({
        el: "#vue",
        data: {
            isGraduated: '2',
            graduated: [
                {
                    name:'1',
                    studentId:'1',
                    sex:'1',
                    type:'1',
                    enrollmentTime:'1',
                    graduationTime:'1',
                    firstCompany:'1'
                }
            ],
            student:[
                {
                    name:'1',
                    studentId:'1',
                    sex:'1',
                    type:'1',
                    nationality:'1',
                    tutor:'1',
                    url:'../images/1.jpg'
                },
                {
                    name:'2',
                    studentId:'2',
                    sex:'2',
                    type:'2',
                    nationality:'2',
                    tutor:'2',
                    url:'../images/1.jpg'
                }
            ]
        },
        methods: {
            turnPage(page) {
                window.parent.indexVue.turnPage(page)
            },
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            handleSelect(key, keyPath) {

                console.log(key, keyPath);
                this.turnPage(key)
            }
        },
        mounted(){
            window.parent.scrollTo(0, 0);
            // 在校生
            $.ajax({
                url: "/student/getPages",
                type: "get",
                data: {
                    graduationFlag: 0
                },
                success(res) {
                    console.log("在校生");
                    console.log(res.data.records);
                    let tmp = res.data.records;
                    for (var i=0; i<tmp.length; i++) {
                        let tmpStudent = {
                            name:'',
                            studentId:'',
                            sex:'',
                            type:'',
                            nationality:'',
                            tutor:'',
                            url:''
                        };
                        if (tmp[i].chineseName == ""||null)
                            tmpStudent.name = tmp[i].englishFirstname + tmp[i].englishLastname;
                        else
                            tmpStudent.name = tmp[i].chineseName;
                        tmpStudent.studentId = tmp[i].studentId;
                        if (tmp[i].sex == 1)
                            tmpStudent.sex = "男";
                        else
                            tmpStudent.sex = "女";

                        switch (tmp[i].type) {
                            case 0:
                                tmpStudent.type = "本科";
                                break;
                            case 1:
                                tmpStudent.type = "学术硕士";
                                break;
                            case 2:
                                tmpStudent.type = "专业硕士";
                                break;
                            case 3:
                                tmpStudent.type = "学术博士";
                                break;
                            case 4:
                                tmpStudent.type = "专业硕士";
                                break;
                            default:
                                tmpStudent.type = "无记载";
                                break;
                        }
                        tmpStudent.nationality = tmp[i].nationality;
                        tmpStudent.tutor = tmp[i].tutor;
                        tmpStudent.url = "../images/1.jpg";

                        studentInfoVue.student[i] = tmpStudent;
                    }
                    console.log(studentInfoVue.student);

                }
            });
            // 毕业生
            $.ajax({
                url: "/student/getPages",
                type: "get",
                data: {
                    graduationFlag: 1
                },
                success(res) {
                    console.log("毕业生");
                    console.log(res.data.records);
                    let tmp = res.data.records;
                    for (var i=0; i<tmp.length; i++) {
                        let tmpGraduated = {
                            name:'',
                            studentId:'',
                            sex:'',
                            type:'',
                            enrollmentTime:'',
                            graduationTime:'',
                            firstCompany:''
                        };
                        if (tmp[i].chineseName == ""||null)
                            tmpGraduated.name = tmp[i].englishFirstname + tmp[i].englishLastname;
                        else
                            tmpGraduated.name = tmp[i].chineseName;
                        tmpGraduated.studentId = tmp[i].studentId;
                        if (tmp[i].sex == 1)
                            tmpGraduated.sex = "男";
                        else
                            tmpGraduated.sex = "女";

                        switch (tmp[i].type) {
                            case 0:
                                tmpGraduated.type = "本科";
                                break;
                            case 1:
                                tmpGraduated.type = "学术硕士";
                                break;
                            case 2:
                                tmpGraduated.type = "专业硕士";
                                break;
                            case 3:
                                tmpGraduated.type = "学术博士";
                                break;
                            case 4:
                                tmpGraduated.type = "专业硕士";
                                break;
                            default:
                                tmpGraduated.type = "无记载";
                                break;
                        }
                        tmpGraduated.enrollmentTime = tmp[i].enrollmentTime;
                        tmpGraduated.graduationTime = tmp[i].graduationTime;
                        tmpGraduated.firstCompany = tmp[i].firstCompany;

                        studentInfoVue.graduated[i] = tmpGraduated;
                    }
                    console.log(studentInfoVue.graduated);

                }
            })
        }

    })
</script>

</html>