<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-for="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>教学科研</title>


    <!-- === CSS === -->
    <link rel="stylesheet" href="../bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900">
    <link rel="stylesheet" href="../css/homepage.css">
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.10.1/theme-chalk/index.css" >-->

</head>
<body>


<div id="vue">

    <el-container>
        <el-aside width="200px">
            <el-row class="tac">
                <el-col>
                    <el-menu
                            :default-active="childActiveIndex"
                            class="el-menu-vertical-demo"
                            @open="handleOpen"
                            @close="handleClose"
                            @select="handleSelect">
                        <el-menu-item index="teaching.html">
                            <i class="el-icon-collection"></i>
                            <span slot="title">教学工作</span>
                        </el-menu-item>
                        <el-menu-item index="research.html">
                            <i class="el-icon-document-copy"></i>
                            <span slot="title">科研工作</span>
                        </el-menu-item>


                    </el-menu>
                </el-col>
            </el-row>
        </el-aside>
        <el-main>
            <iframe id="child-frame" name="child-frame" v-bind:src="childSrc"
                    style="width: calc(100%); min-height: 1000px" frameborder="no" scrolling="no">
            </iframe>
        </el-main>
    </el-container>


</div>

</body>
<!-- === JS === -->
<script src="../js/jquery-3.2.1.slim.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../bootstrap-4.3.1/js/bootstrap.min.js"></script>
<!--引入vue-->
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<!-- 引入element-ui组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--jquery-->
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--<script src="https://cdn.bootcss.com/element-ui/2.10.1/locale/zh-CN.min.js"></script>-->

<script>
    function setIframeHeight(iframe) {
        if (iframe) {
            var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
            if (iframeWin.document.body) {
                iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
            }
        }
    };

    window.onload = function () {
        setIframeHeight(document.getElementById('child-frame'));
    };
</script>

<script>
    var childVue = new Vue({
        el: "#vue",
        data: {
            childSrc: "",
            childActiveIndex: "",
            teaching: [],
            research: []
        },
        methods: {
            // turnPage(page) {
            //     window.parent.indexVue.turnPage(page)
            // },
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
                // this.turnPage(key)
                this.childSrc = key;
                window.parent.indexVue.activeIndex = "views/" + key;

            }
        },
        mounted() {
            window.parent.scrollTo(0, 0);
            let childPage = window.parent.indexVue.currentPage.slice(6);
            this.childSrc = childPage;
            this.childActiveIndex = childPage;
            window.parent.indexVue.activeIndex = "views/" + childPage;
            console.log("about us mounted");
            $.ajax({
                url: "/course/getPages",
                type: "post",
                success(res) {
                    console.log("教学工作");
                    console.log(res.data.records);
                    let tmp = res.data.records;
                    for (var i = 0; i < tmp.length; i++) {
                        let tmpTeaching = {
                            courseId: '',
                            name: '',
                            type: '',
                            studentType: '',
                            courseTime: '',
                            comment: ''
                        };
                        tmpTeaching.courseId = tmp[i].courseId;
                        tmpTeaching.name = tmp[i].name;
                        switch (tmp[i].type) {
                            case 0:
                                tmpTeaching.type = "选修";
                                break;
                            case 1:
                                tmpTeaching.type = "必修";
                                break;
                            default:
                                tmpTeaching.type = "无记载";
                                break;
                        }
                        switch (tmp[i].studentType) {
                            case 0:
                                tmpTeaching.studentType = "本科生";
                                break;
                            case 1:
                                tmpTeaching.studentType = "硕士研究生";
                                break;
                            case 2:
                                tmpTeaching.studentType = "博士研究生";
                                break;
                            default:
                                tmpTeaching.studentType = "无记载";
                                break;
                        }
                        tmpTeaching.courseTime = tmp[i].courseTime;
                        tmpTeaching.comment = tmp[i].comment;

                        childVue.teaching[i] = tmpTeaching;
                    }
                    console.log(childVue.teaching);
                    $.ajax({
                        url: "/project/getPages",
                        type: "post",
                        success(res){
                            console.log("研究工作");
                            console.log(res.data.records);
                            let tmp = res.data.records;
                            for (var i=0; i<tmp.length; i++) {
                                let tmpResearch = {
                                    id:'',
                                    name:'',
                                    type:''
                                };
                                tmpResearch.id = tmp[i].id;
                                tmpResearch.name = tmp[i].name;
                                switch (tmp[i].type) {
                                    case 0:
                                        tmpResearch.type = "校级";
                                        break;
                                    case 1:
                                        tmpResearch.type = "市级";
                                        break;
                                    case 2:
                                        tmpResearch.type = "省级";
                                        break;
                                    case 3:
                                        tmpResearch.type = "国家级";
                                        break;
                                    default:
                                        tmpResearch.type = "无记载";
                                        break;
                                }

                                childVue.research[i] = tmpResearch;
                            }
                            console.log(childVue.research);
                        }
                    })
                }

            });

        }
    })
</script>

</html>