<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-for="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>


    <!-- === CSS === -->
    <link rel="stylesheet" href="../bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900">
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.10.1/theme-chalk/index.css" >-->

</head>

<body>
<div id="vue">
    <el-button type="primary" round @click="addUser('sign_up.html')">新增用户</el-button>
    <hr>
    <el-table
            :data="userList"
            style="width: 100%">
        <el-table-column
                label="用户ID"
                width="180">
            <template slot-scope="scope">
                <p>{{ scope.row.userId }}</p>
            </template>
        </el-table-column>
        <!--<el-table-column-->
                <!--label="姓名"-->
                <!--width="180">-->
            <!--<template slot-scope="scope">-->
                <!--<p>{{ scope.row.name }}</p>-->
            <!--</template>-->
        <!--</el-table-column>-->
        <el-table-column
                label="角色"
                width="180">
            <template slot-scope="scope">
                <p>{{ scope.row.userFlag }}</p>
            </template>
        </el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-button
                        size="mini"
                        @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                <el-button
                        size="mini"
                        type="danger"
                        @click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
</div>

</body>
<script src="../js/md5.js" type="text/javascript" charset="utf-8"></script>
<!--  JS  -->
<script src="../js/jquery-3.2.1.slim.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../bootstrap-4.3.1/js/bootstrap.min.js"></script>
<!--引入vue-->
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<!-- 引入element-ui组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--jquery-->
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--<script src="https://cdn.bootcss.com/element-ui/2.10.1/locale/zh-CN.min.js"></script>-->

<script>
    var userVue = new Vue({
        el: "#vue",
        data: {
            userList:[]
        },
        methods: {
            handleEdit(index, row) {
                console.log(index, JSON.stringify(row));
                if (row.userFlag == "学生") {
                    window.parent.indexVue.userFlag =  row.userId;
                    window.parent.indexVue.activeIndex = "update_student.html";
                }
                else {
                    window.parent.indexVue.userFlag =  row.userId;
                    window.parent.indexVue.activeIndex = "update_teacher.html";
                }

            },
            handleDelete(index, row) {
                console.log(index, row);
                if (row.userFlag == "学生") {
                    this.$confirm('确认删除该学生?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        $.ajax({
                            url: "/student/deleteStudentById",
                            type: "post",
                            data: {
                                id: row.userId
                            },
                            success(res) {
                                console.log(res);
                                if (res.code == 1000) {
                                    alert('删除失败');
                                }
                                if (res.code == 200) {
                                    alert('删除成功');
                                    userVue.userList.splice(row, 1);
                                }
                            },
                            error(res) {
                                console.log(res);
                                alert('删除失败');
                            }
                        });
                        this.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                }
                else {
                    this.$confirm('确认删除该老师?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        $.ajax({
                            url: "/teacher/deleteTeacherById",
                            type: "post",
                            data: {
                                id: row.userId
                            },
                            success(res) {
                                console.log(res);
                                if (res.code == 1000) {
                                    alert('删除失败');
                                }
                                if (res.code == 200) {
                                    alert('删除成功');
                                    userVue.userList.splice(row, 1);
                                }
                            },
                            error(res) {
                                console.log(res);
                                alert('删除失败');
                            }
                        });
                        this.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                }


            },
            addUser(page) {
                window.parent.indexVue.activeIndex = page;

            }
        },
        mounted() {
            $.ajax({
                url: "/user/getPages",
                type: "post",
                success(res) {
                    console.log(res);
                    userVue.userList = res.data.records;
                    for (var i=0; i<userVue.userList.length; i++) {
                        switch (userVue.userList[i].userFlag) {
                            case 0:
                                userVue.userList[i].userFlag = "管理员";
                                break;
                            case 1:
                                userVue.userList[i].userFlag = "学生";
                                break;
                            case 2:
                                userVue.userList[i].userFlag = "老师";
                                break;
                            case 3:
                                userVue.userList[i].userFlag = "办公室主任";
                                break;
                            case 4:
                                userVue.userList[i].userFlag = "资料管理员";
                                break;
                            default:
                                userVue.userList[i].userFlag = "无记载";
                                break;
                        }
                    }
                },
                error(res) {
                    console.log(res);
                }
            })
        }

    })
</script>
</html>