<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户帮助</title>
</head>
<body>
    <div class="user_help">
        <ul>
            <li>硬件环境：
                <ul>
                    <li>硬件平台：Web端可通过PC、MAC以及移动端进行访问，后端运行在云服务器上。</li>
                </ul>
            </li>
            <li>软件环境：
                <ul>
                    <li>操作系统：Windows、Mac OS、Linux</li>
                    <li>浏览器：支持大部分市面上主流浏览器，推荐使用chorme浏览器。</li>
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>