.check_in_out .list_a {
    color: black;
}
.check_in_out  .p_left{
    margin-left:150px;
    margin-top:10px;
    float: left;
}
.check_in_out .p_right{
    margin-right:150px;
    margin-top:0px;
    width:200px;
    float:right;
}
.about_me .info {
    margin:auto;
    width:50%;
    /*border: 3px solid #73AD21;*/
}
.about_me .row{
    margin:auto;
    width:50%;
}
.about_me .p_left{
    width:100px;
    display: inline-block;
}
.about_me .p_right{
    display: inline-block;
}
.book_management .p_left{
    margin-left:150px;
    margin-top:5px;
    float: left;
}
.book_management .p_right{
    margin-right:150px;
    margin-top:5px;
    float:right;
}
.book_lending_record .radio{
    margin-top:15px;
    margin-bottom:15px;
}